<div class="grid flex align-items-center justify-content-center p-5 text-layout background-layout-dark">
    <div class="col-12 md:col-6 p-5">
            <video [src]="videoSrc" alt="Perseverance Mars Mission" class="w-12 mt-5" controls></video>
    </div>
    <div class="col-12 md:col-6 p-5 ">
        <h2>Perseverance Rover Mission</h2>
        <hr>
        <p>Confirmation of the successful touchdown
        was announced in mission control at NASA’s
        Jet Propulsion Laboratory in Southern California
        at 3:55 p.m. EST (12:55 p.m. PST). Packed with
        groundbreaking technology, the Mars 2020 mission
        launched July 30, 2020, from Cape Canaveral Space
        Force Station in Florida. The Perseverance rover
        mission marks an ambitious first step in the effort
        to collect Mars samples and return them to Earth.
        </p>
        <br>
        <a href="https://mars.nasa.gov/mars2020/" target="_blank"><button pButton label="View more" type="button" class="p-button-primary mt-3"></button></a>
    </div>
</div>
