<div class="background-layout text-layout p-5">
    <div class="grid">
        <div class="col">
            <h2 class="text-center">Video Gallery</h2>
        </div>
    </div>
    <div class="grid flex align-items-center justify-content-center">
        <div class="xs:col-12 md:col-6 lg:col-4 text-center p-3" *ngFor="let video of videos">
            <video [src]="video.url" class="w-12" controls></video>
        </div>
    </div>
    <div class="grid mt-5 mb-5">
        <div class="col text-center">
            <button pButton label="View more" type="button" class="p-button-secondary" [routerLink]="['/images-gallery']"></button>
        </div>
    </div>
    
</div>